*{
	padding: 0;
	margin: 0;
}
p{
	width: 300px;
	height: 20px;
	line-height: 20px;
	/*处理单行文本的三件套*/
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-decoration: blink;
}

a{
	display: inline-block;
	text-decoration: none;
	color: #424242;
	width: 190px;
	
	border: 1px solid black;
	background-image: url(../img/taobao1.jpg);
	background-size: 190px 190px;

	/* 1. */
	/*text-indent: 200px;
	white-space: nowrap;
	height: 190px;
	overflow: hidden;*/
	
	/* 2. */
	height: 0;
	padding-top: 190px;
	overflow: hidden;
}
.wrapper {
	width: 100%;
	height: 30px;
	background-color: #424242;
}

.content {
	width: 1000px;
	height: 30px;
	margin: 0 auto;
	background-color: #f40;
}